aiodns
aiofiles
aioftp
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
anyio
aom
appnope
argon2-cffi
argon2-cffi-bindings
arrow-cpp
asdf
asdf-astropy
asdf-coordinates-schemas
asdf-standard
asdf-transform-schemas
astropy-base
astropy-healpix
astropy-iers-data
asttokens
async-lru
attrs
aws-c-auth
aws-c-cal
aws-c-common
aws-c-compression
aws-c-event-stream
aws-c-http
aws-c-io
aws-c-mqtt
aws-c-s3
aws-c-sdkutils
aws-checksums
aws-crt-cpp
aws-sdk-cpp
babel
beautifulsoup4
blas
bleach
blosc
bokeh
brotlicffi
bzip2
c-ares
cdflib
certifi
cffi
charset-normalizer
click
cloudpickle
comm
contourpy
cpython
cspice
cycler
dask
dask-core
dask-image
dav1d
debugpy
defusedxml
distributed
donfig
drms
executing
fonttools
freetype
frozenlist
fsspec
geos
gettext
gettext-tools
gflags
glog
glymur
google-crc32c
h11
h5netcdf
h5py
hdf5
heapdict
httpcore
httpx
icu
idna
imageio
importlib-metadata
ipykernel
ipython
ipython_genutils
ipython_pygments_lexers
ipywidgets
isodate
jansson
jedi
jinja2
jmespath
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-builder
jupyter-lsp
jupyter_client
jupyter_console
jupyter_core
jupyter_events
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lcms2
lerc
libabseil
libasprintf
libasprintf-devel
libavif
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libcrc32c
libcurl
libdeflate
libev
libevent
libexpat
libffi
libgettextpo
libgettextpo-devel
libgfortran
libgfortran5
libgrpc
libiconv
libidn2
libintl
libintl-devel
libjpeg-turbo
libkrb5
libmpdec
libnghttp2
libopenblas
libopenjpeg
libpng
libprotobuf
libre2-11
libsodium
libssh2
libthrift
libtiff
libunistring
libutf8proc
libwebp-base
libxcb
libxml2
libxslt
libzlib
llvm-openmp
lmdb
locket
lxml
lz4
lz4-c
markdown-it-py
markupsafe
matplotlib-base
matplotlib-inline
mdurl
mistune
mpi
mpi4py
mpich
mpl_animators
msgpack-python
msgspec
multidict
narwhals
nbclient
nbconvert
nbconvert-core
nbconvert-pandoc
nbformat
ncurses
nest-asyncio2
notebook
notebook-shim
numcodecs
numpy
numpy-base
openjpeg
orc
packaging
pandas
pandoc
pandocfilters
parfive
parso
partd
pexpect
pillow
pims
platformdirs
prometheus_client
prompt-toolkit
prompt_toolkit
propcache
psutil
pthread-stubs
ptyprocess
pure_eval
pyarrow
pyavm
pycares
pycparser
pyerfa
pygments
pyparsing
pysocks
python-dateutil
python-fastjsonschema
python-gil
python-json-logger
python-lmdb
python_abi
pyyaml
pyzmq
qtconsole
qtpy
re2
readline
referencing
reproject
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
scipy
semantic_version
send2trash
shapely
shellingham
six
slicerator
snappy
sortedcontainers
soupsieve
spiceypy
stack_data
sunpy
tblib
terminado
tifffile
tinycss2
toolz
tornado
tqdm
traitlets
typer
typing-extensions
typing_extensions
tzdata
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
xarray
xorg-libxau
xorg-libxdmcp
xyzservices
yaml
yarl
zarr
zeep
zeromq
zict
zipp
zstd